<div class="bg">
  <div class="asign">
    <div class="cont">
      <div class="col mbls">
        <h1 class="h1 pb-4 fontw"><%= image_tag 'logo.png', size: "", class: "logo" %>ねこみゅへようこそ</h1>
      </div>
      <div class="col h3 mbls">
        <p>初めての方はこちら</p>
        <%= link_to "会員登録", new_customer_registration_path, class:"btn-ex link" %>
      </div>
      <div class="col h3 mbls">
        <p>会員登録がお済みの方はこちら</p>
        <%= link_to "ログイン", new_customer_session_path, class:"btn-ex1" %>
      </div>
    </div>
  </div>
</div>
