@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.profile_image {
 border-radius: 50%;
}

.cat_image {
 border-radius: 50%;
}

.bg-orange {
    background-color: #f4ceb6;
}

.text-cl {
    color: #857c7c !important;
}

.text-cl:hover, .text-cl:focus {
    color: #5c656d !important;
}
